{{!-- This page handles blog create page and blog update/delete page dependingon what action the user chooses.  The route sets the create_blog option to true in first case and false in second case --}}
<div class="blog-container d-flex justify-content-center">

    <div class="blog-box">

        {{#if create_blog}}
        <div class='welcome-div'>
            <h1>New Blog</h1>
        </div>
        <div class='form-container'>
            <form id='form-blog'>
                <div class='form-group'>
                    <label for='title'>Title</label>
                    <input type='text' class='form-control' id='blog-title'>
                </div>
                <div class='form-group'>
                    <label for='content'>Content</label>
                    <textarea class='form-control' id='blog-content' rows="15"></textarea>
                </div>
                <br>
                <button type='submit' class='btn btn-outline-primary goal-button'
                    id="create-blog-button">Create</button>
            </form>
        </div>

        {{else}}

        <div class='welcome-div'>
            <h1>Update/Delete Blog</h1>
        </div>
        <div class='form-container'>
            <form id='form-blog-update'>
                <div class='form-group'>
                    <label for='title'>Title</label>
                    <input type='text' class='form-control' id='blog-title' value="{{blog.title}}">
                </div>
                <div class='form-group'>
                    <label for='content'>Content</label>
                    <textarea class='form-control' id='blog-content' rows="15">{{blog.content}}</textarea>
                </div>
                <br>
                <div class="form-buttons d-flex justify-content-between">
                    <button type='submit' class='btn btn-outline-primary goal-button' id="update-blog-button"
                        label="{{blog.id}}">Update</button>

                    <span class="fs-6">
                        <button type='button' class='btn btn-outline-primary goal-button' id="delete-blog-button"
                            label="{{blog.id}}">Delete
                        </button>
                    </span>
                </div>

            </form>
        </div>

        {{/if}}

    </div>

</div>

<script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js'
    integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB'
    crossorigin='anonymous'></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js'
    integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13'
    crossorigin='anonymous'></script>
<script src="/js/blog.js"></script>
<script src="/js/logout.js"></script>